@import "tailwindcss";
#logo { 
    height : 70px;
    width: 70px;
    margin-left: 20px;
    margin-top: 20px;
}
#header {
    position: fixed;
}

#root {
    background: radial-gradient(#aaee93, #232323 80%);
}

#right-side-nav {
    position: fixed;
}